# dependencies
node_modules

# hardhat files
ignition/deployments
artifacts
cache

# build output
build

# next.js
.next

# vercel
.vercel

# typescript
next-env.d.ts

# package manager
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb

# environment variables
.env*
!.env.local

# macOS-specific files
.DS_Store
